@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Nunito', sans-serif;
}

.titulo{
  font-size: 3.5rem;
  font-weight: bolder;
  text-align: center;
  color: #2980b9;
}

.listContainer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
}

.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.img{
  width: 300px;
  height: 300px;
}

.cardBody{
  margin-bottom: 20px;
}

.cardTitle{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 15px;
  font-size: x-large;
  font-weight: 600;
}

.cardText{
  font-size: 20px;
  font-weight: 700;
  color: #2980b9;
}

.button{
  background-color: #2980b9;
  border: solid 0;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: large;
  font-weight: 600;
  color: white;
}

.buttonMoreLess{
  margin: 10px 15px 30px;
  background-color: #2980b9;
  border: solid 0;
  padding: 1px 10px;
  border-radius: 50%;
  font-size: large;
  font-weight: 500;
  color: white;
}

.detalleProducto{
  margin-top: 30px;
  background-color:white ;
  border: solid 1px #2980b9;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: large;
  font-weight: 400;
  color: #2980b9;
}

/* Inicio de detalle del producto*/

.divItemContainer{
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5%;
}

.itemTitle{
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: bolder;
  text-align: center;
  color: #2980b9;
}

.divItemImg, .itemInfoContainer{
  width: 40%;
  height: 45%;
}

.itemImg{
  width: 400px;
  height: 450px;
}

.itemInfoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width: 400px;
  height: 450px;
}

/* Inicio de navbar*/
.navbar{
  border-bottom: solid 5px #2980b9 ;
}

.containerNavbar{
  display: flex;
  flex-direction:row;
  justify-content: center;
  gap: 20%;
}

.aLink{
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #2980b9;
}

.aLink:hover{
  border:double;
  color: aliceblue;
  background-color: #2980b9;
}

.imgNavbar{
  margin-inline-start: 25%;
  width: 75px;
  height: 25px;
}

.cartNavbar{
  margin-inline-end: 2%;
}